@font-face {
    font-family: 'PFDinDisplayPro-XThin';
    src: url('../fonts/PFDinDisplayPro-XThin.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-XThin.woff') format('woff'), url('../fonts/PFDinDisplayPro-XThin.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-XThin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-XThinIt';
    src: url('../fonts/PFDinDisplayPro-XThinIt.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-XThinIt.woff') format('woff'), url('../fonts/PFDinDisplayPro-XThinIt.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-XThinIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-Thin';
    src: url('fonts/PFDinDisplayPro-Thin.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-Thin.woff') format('woff'), url('../fonts/PFDinDisplayPro-Thin.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-ThinItal';
    src: url('../fonts/PFDinDisplayPro-ThinItal.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-ThinItal.woff') format('woff'), url('../fonts/PFDinDisplayPro-ThinItal.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-ThinItal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-Black';
    src: url('../fonts/PFDinDisplayPro-Black.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-Black.woff') format('woff'), url('../fonts/PFDinDisplayPro-Black.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.profileLink,
.newsDiv .header,
.newsDiv .content {
    font-family: 'PFDinDisplayPro-XThin';
}
.langDiv,
.presentText,
.newsDiv .toolbar {
    font-family: 'PFDinDisplayPro-XThinIt';
}
.uslHeader,
.menuButtons .item > span,
.uslCollapsible a.ui-collapsible-heading-toggle,
#leftMenu,
.pageHeader,
.contactsCont .contForm label,
.contactsCont .contForm input,
.contactsCont .contForm textarea,
.contactsCont .contInfo,
.waitInfo,
.searchInput,
.infoDiv,
.top ul.adviceBox li.advice p {
    font-family: 'PFDinDisplayPro-Thin';
}
.mainImage .container > div .uslList,
.uslCollapsible .ui-collapsible-content {
    font-family: 'PFDinDisplayPro-ThinItal';
}
.linkPanel > p.header {
    font-family: 'PFDinDisplayPro-Black';
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
body {
    background: none;
    background-image: url('../img/backgrounds/office.png');
}
.profileLink img {
    height: 20px;
}
.profileLink {
    color: #939293;
    font-size: 18px;
    font-weight: bold;
}
.profileLink:hover {
    text-decoration: underline;
}
.langDiv {
    margin-left: 50px;
    margin-top: 6px;
    text-align: right;
}
.langDiv a {
    color: white;
    font-size: 18px;
}
.langDiv a:hover {
    text-decoration: underline;
}
.overflowHidden {
    overflow: hidden;
}
.searchInput {
    padding-right: 27px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 1 !important;
    min-height: 1em !important;
    font-size: 16px !important;
    background-image: url('../img/images/Search icon.png');
    background-repeat: no-repeat !important;
    background-position: right center;
    background-size: 21px 15px;
    border: none !important;
    color: black;
}
.mainImage {
    height: 300px;
    max-width: 1300px;
    margin: 0px auto;
    position: relative;
}
.mainImage .container {
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.maxVol {
    width: 100%;
    height: 100%;
}
.mainImage > div.whiteCont,
.mainImage > div.whiteCont,
.mainImage > div.whiteCont {
    background-color: white;
    filter: Alpha(Opacity=0);
    opacity: 0;
}
.homeImage .container {
    background-image: url('../img/images/Columns.png');
}
.waitImage .container {
    background-image: url('../img/images/waitImage.png');
}
.customMargin {
    margin: 0% 1% 10px 1%;
}
.customPadding {
    padding: 10px 1% 10px 1%;
    margin: 0px auto;
}
.newsDiv {
    overflow: hidden;
}
.newsDiv .header {
    height: 30px;
    margin: 0px;
    padding: 10px 0px 10px 50px;
    background-image: url("../img/images/News-icon.png");
    background-repeat: no-repeat;
    background-position: left top;
    border-bottom: 1px solid #dddddd;
    color: #dddddd;
    font-weight: bold;
    font-size: 18px
}
.newsDiv .toolbar {
    text-align: right;
}
.newsDiv .toolbar a {
    color: white;
    text-decoration: underline
}
.newsDiv .content .item {
    margin: 10px 0px 15px 0px;
}
.newsDiv .content .item p {
    margin: 0px 30px 0px 0px;
    font-size: 14px;
}
.newsDiv .content .item p.text {
    color: white;
}
.newsDiv .content .item p.date {
    color: #840633;
    font-weight: bold;
}
.mainImage .container > div {
    position: relative;
}

.mainImage .container > div .uslList {
    max-height: 230px;
    margin: 20px 0px;
    line-height: 1;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    list-style: none;
    filter: Alpha(Opacity=0);
    opacity: 0;
}
.mainImage .container > div .uslList a {
    color: #3c3b3b;
}
.mainImage .container > div .uslList a:hover {
    color: #840633;
}
.mainImage .container > div.active .uslList {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.mainImage .container > div .uslHeader {
    position: absolute;
    left: 30px;
    bottom: 10px;
    font-size: 36px;
    color: white;
}
.mainImage .container > div.active .uslHeader {
    color: #840633;
}
.qedButton {
    float: left;
    display: block;
    position: relative;
    background-color: #dfdfdf;
    text-align: center;
}
.qedButton > span {
    font-weight: bold;
    line-height: 1;
    color: #1e1e1e;
}
.qedButton:active {
    background-color: #aaaaaa;
}


.qedButton.active > span,
.qedButton:hover > span {
    color: #840633;
}
.qedButton > .redActive {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.qedButton.active > .redActive,
.qedButton:hover > .redActive {
    background-color: #840633;
}
.menuButtons {
    position: relative;
    overflow: hidden;
}
.menuButtons .item {
    width: 22%;
    height: 30px;
    margin-left: 4%;
    padding-top: 11px;
}
.menuButtons .item > span {
    font-size: 18px;
}
.menuButtons .item:first-child {
    margin-left: 0px;
}
.presentText {
    margin: 0px auto;
    color: #858585;
}
.presentText p.header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.presentText p.text {
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
}
.presentText p.author {
    text-align: right;
    font-weight: bold;
}
.addMenu, .linkPanel {
    background-image: url('../img/backgrounds/subtle_zebra_3d.png');
    overflow: hidden;
}
.linkPanel > p.header {
    margin: 10px auto;
    text-align: center;
    color: #50544b;
    font-size: 18px;
}
.linkPanel .container {
    margin: 0px auto 10px auto;
    width: 70%;
}
.linkPanel .container .item {
    width: 20%;
    text-align: center;
    float: left;
    overflow: hidden;
}
.addMenuIcon {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.addMenuIcon.iconBag {
    background-image: url("../img/images/Suit-case.png");
}
.addMenuIcon.iconDialog {
    background-image: url("../img/images/Dialog-cloud.png");
}
.addMenuIcon.iconUmbrella {
    background-image: url("../img/images/Umbrella.png");
}
.addMenuIcon.iconChart {
    background-image: url("../img/images/Pie-chart.png");
}
.addMenuIcon.iconBooks {
    background-image: url("../img/images/Books.png");
}
.addMenuIcon.iconColumns {
    background-image: url("../img/images/Column-building.png");
}
/*.addMenuIcon.iconBag {*/
/*background-image: url("../img/images/Warranty.png");*/
/*}*/
/*.addMenuIcon.iconBag {*/
/*background-image: url("../img/images/Warranty.png");*/
/*}*/
a:hover .addMenuText {
    color: #840633;
}
.addMenuText {
    text-align: center;
    color: #939293;
}
.footerDiv {

}
.footerDiv ul.footerMenu {
    float: left;
    list-style: none;
    font-size: 13px;
    /*font-weight: bold;*/
    padding: 0px;
    margin-right: 20px;
}
.footerDiv ul.footerMenu a {
    color: #939293;
}
.footerDiv ul.footerMenu a:hover {
    color: #840633;
}
.footerDiv .info {
    float: right;
}
.footerDiv .info .socLinks{
    text-align: right;
}
.footerDiv .level1, .footerDiv .level2 {
    overflow: hidden;
}
.footerDiv .level2 {
    color: #dddddd;
    text-align: center
}
.footerDiv .info p {
    text-align: right;
    margin: 0px;
    color: #840633;
}
#leftMenu {
    background-color: #cccccc;
}
#leftMenu .header {
    color: #939293;
    font-size: 17px;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
}
#leftMenu .list {
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#leftMenu .list a {
    display: block;
    padding-right: 30px;
    background-image: url('../img/images/menuArr.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-top: 1px solid #939293;
}
#leftMenu .list .item {
    margin: 0px;
    padding: 10px 0px 10px 40px;
    color: #840633;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#leftMenu .list a:hover {
    background-color: #eeeeee;
}
.menuLink {
    float: left;
    display: block;
    margin: 10px;
    width: 40px;
    height: 30px;
    background-image: url('../img/images/Menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
}
.uslCollapsible,
.uslCollapsible a.ui-collapsible-heading-toggle {
    text-align: center;
    font-size: 26px;
    color: #840633;
}
.uslCollapsible .ui-collapsible {
    margin-top: 3px;
}
.uslCollapsible a.ui-collapsible-heading-toggle {
    border: none;
    background-color: #f6f6f6;
}
.uslCollapsible .ui-collapsible-collapsed a.ui-collapsible-heading-toggle {
    color: black;
}
.uslCollapsible .ui-collapsible-content {
   /*background: none;*/
}
.uslCollapsible .ui-collapsible-content p {
    margin: 5px auto;
    font-size: 18px;
}
.uslCollapsible .ui-collapsible-content p a {
    color: white;
}
.uslCollapsible .ui-collapsible-content p a:hover {
    color: #840633;
}
.pageHeader {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 3px;
}
.contactsCont .contForm label {
    color: white;
    margin-bottom: 1px;
    font-size: 18px;
}
.contactsCont .contForm input,
.contactsCont .contForm textarea {
    color: #000000;
    background-color: #c8c8c8;
    margin-bottom: 5px;
    font-size: 16px;
    min-height: 1.2em;
    line-height: 1.1;
}
.contForm .submitButton {
    width: 25%;
    height: 26px;
    padding-top: 6px;
    float: right;
    min-width: 120px;
}
.contForm textarea {
    min-height: 100px;
}
.contForm .submitButton > span {
    font-size: 14px;
}
.contactsCont .contInfo {
    padding-top: 18px;
}
.contactsCont .contInfo p {
    margin: 0px 0px 15px 0px;
    color: #bbbbbb;
    line-height: 1.1;
    text-align: justify;
    font-size: 18px;
}
.contactsCont .contInfo span.mark {
    color: #ffffff;
    font-weight: bold;
}
#contMap {
    height: 400px;
}
.loader {
    background-image: url('../img/images/loading.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.waitInfo {
    max-width: 1300px;
    margin: 50px auto;
    color: #cccccc;
    overflow: hidden;
    border-top: 1px solid #840633;
    border-bottom: 1px solid #840633;
}
.waitInfo .level1 {
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15%;
}
.waitInfo .level2 {
    font-size: 26px;
    padding-left: 12%;
    margin-bottom: 60px;
    text-align: justify;
    margin-left: 13%;
    margin-right: 28%;
}
.waitInfo .level3 {
    padding-left: 12%;
    margin-left: 13%;
    font-size: 20px;
    float: left;
    margin-bottom: 50px;
}
.waitInfo .level4 {
    float: right;
    background-image: url("../img/images/sign.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28%;
    height: 120px;
}
.bold {
    font-weight: bold;
}
.infoDiv {
    overflow: hidden;
    color: white;
    font-size: 18px;
}
.infoDiv p {
    text-align: justify;
    margin: 0px 0px 10px 0px;
}
.maxWidthIn {

}
.maxWidthOut {

}
.teamDiv {
    overflow: hidden;
}
.teamCollapsible,
.arrCollapsible a.ui-collapsible-heading-toggle {
    /*text-align: center;*/
    font-size: 22px;
    color: #ffffff;
}
.arrCollapsible .ui-collapsible {
    margin-top: 10px;
}
.arrCollapsible a.ui-collapsible-heading-toggle {
    border: none;
    border-bottom: 1px solid white;
    padding: 3px 0px;
    background-image: url("../img/images/arrTop.png");
    background-repeat: no-repeat;
    background-size: 40px 20px;
    background-position: right center;
}
.arrCollapsible .ui-collapsible-collapsed a.ui-collapsible-heading-toggle {
    background-image: url("../img/images/arrBottom.png");
}
.arrCollapsible a.ui-collapsible-heading-toggle:hover {
    color: #840633;
}
.arrCollapsible .ui-collapsible-content {
    padding: 0px;
}
.teamDiv .arrCollapsible .ui-collapsible-content p {
    margin: 5px auto;
    font-size: 18px;
}
.teamDiv .arrCollapsible .ui-collapsible-content p a {
    color: white;
}
.teamDiv .arrCollapsible .ui-collapsible-content p a:hover {
    color: #840633;
}
.teamDiv .arrCollapsible .ui-collapsible-content .infoDiv {
    margin: 5px 0px;
}
.teamBlock {
    overflow: hidden;
}
.teamBlock .photo {
    float: left;
    width: 45%;
}
.teamBlock .photo img {
    width: 100%;
    /*height: 200px;*/
}
.teamBlock .infoText {
    padding-left: 10%;
    overflow: hidden;
    min-width: 100px
}
.teamBlock .infoText p.detLink a {
    font-weight: bold;
}
.mainSearch .searchInput {
    font-size: 19px !important;
}
.loading {
    background-image: url("../img/images/loading.gif");
}
.searchBox {
    /*position: relative;*/
}
.top ul.adviceBox {
    background-color: #ffffff;
    position: absolute;
    z-index: 10000;
    margin: 0px;
    right: 1%;
    top: 67px;
    min-width: 256px;
    padding: 0px;
}
.top ul.adviceBox li.advice {
    margin: 0px;
    list-style: none;
    border: 1px solid #bbbbbb;
    border-top: none;
    text-align: right;
    cursor: pointer;
}
.top ul.adviceBox li.advice p {
    margin: 0px;
}
.top ul.adviceBox li.advice p.header {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}
.top ul.adviceBox li.advice p.description {
    color: #666666;
    font-size: 14px;
}
.top ul.adviceBox li.advice:first-child {
    border-top: 1px solid #bbbbbb;
}

.top ul.adviceBox li.active {
    background-color: #cccccc;
}