@media (max-width: 767px) {
    .onlyPC {
        display: none !important;
    }
    .footerDiv .level1 {
        float: right;
    }
    .footerDiv .level2 {
        float: left;
        padding-top: 17px;
    }
}