@media (min-width: 768px) {
    .onlyPhone {
        display: none !important;
    }
    .addMenu > div > .ui-grid-a {
        float: left;
        width: 50%;
    }
    .profileDiv {
        float: left;
    }
    .langDiv {
        float: right;
    }
    .presentText {
        width: 80%;
    }
    .newsDiv .newsContainer {
        width: 49%;
        overflow: hidden;
        float: left;
    }
    .newsDiv .newsContainer.news {
        padding-right: 1%;
    }
    .newsDiv .newsContainer.reviews {
        padding-left: 1%;
    }
    .top {
        padding: 10px 1% 10px 1%;
    }
    .top1 {
        float: right;
    }
    .top2 .logo {
        height: 90px;
    }
    .contactsCont .contForm,
    .contactsCont .contInfo {
        width: 48%;
        float: left;
    }
    .contactsCont .contForm {
        padding-right: 2%;
    }
    .contactsCont .contInfo {
        padding-left: 2%;
    }

}