@media (max-width: 767px) {
    .onlyPC {
        display: none !important;
    }
    .footerDiv .level1 {
        float: right;
    }
    .footerDiv .level2 {
        float: left;
        padding-top: 17px;
    }
    .presentText {
        width: 95%;
    }
    .top1 {
        background-color: #840633;
        padding: 0px 1% 0px 1%;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .top1 .links {
        float: right;
    }
    .top .socLinks {
        padding-top: 10px;
        padding-right: 1%;
    }
    .top2 {
        padding: 0px 1% 0px 1%;
    }
    .top2 .logo {
        height: 65px;
    }
    .thisPage {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .contactsCont .contForm {
        margin-bottom: 15px;
    }
    .pageHeader {
        font-size: 34px;
    }
    .contactsCont .contInfo .infBlock {
        margin: 0px 20px 10px 0px;
        float: left;
    }
    .waitInfo .level1 {
        font-size: 21px;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
    .waitInfo .level2 {
        font-size: 23px;
        padding-left: 10%;
        margin-bottom: 50px;
        margin-left: 0px;
        margin-right: 5%;
    }
    .waitInfo .level3 {
        padding-left: 10%;
        font-size: 17px;
        float: left;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .waitInfo .level4 {
        float: right;
        background-image: url("../img/images/sign.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 28%;
        height: 100px;
        margin-right: 5%;
    }
    .teamBlock {
        margin-bottom: 10px;
    }
    .teamBlock .infoText {
        padding-left: 5%;
    }
    .teamBlock .infoText p.detLink {
        text-align: center;
    }
    .teamBlock .infoText p.detLink a {
        display: block;
        padding: 5px;
        color: black;
        background-color: #ffffff;
    }
    .teamBlock .infoText p.detLink a:hover {
        color: #840633;
    }
    .teamBlock .infoText p.detLink a:active {
        background-color: #aaaaaa;

    }

}