.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
body {
    background: none;
    background-image: url('../img/backgrounds/office.png');
}
.profileLink img {
    height: 20px;
}
.langDiv {
    margin-left: 50px;
    margin-top: 6px;
}
.overflowHidden {
    overflow: hidden;
}
.searchInput {
    padding-right: 30px !important;
    background-image: url('../img/images/Search icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: right 7px center;
    background-size: 18px 18px;
}