@media (min-width: 768px) {
    .onlyPhone {
        display: none !important;
    }
    .addMenu > div > .ui-grid-a {
        float: left;
        width: 50%;
    }
    .newsDiv .newsContainer {
        width: 49%;
        overflow: hidden;
        float: left;
    }
    .newsDiv .newsContainer.news {
        padding-right: 1%;
    }
    .newsDiv .newsContainer.reviews {
        padding-left: 1%;
    }
}