@font-face {
    font-family: 'PFDinDisplayPro-XThin';
    src: url('../fonts/PFDinDisplayPro-XThin.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-XThin.woff') format('woff'), url('../fonts/PFDinDisplayPro-XThin.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-XThin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-XThinIt';
    src: url('../fonts/PFDinDisplayPro-XThinIt.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-XThinIt.woff') format('woff'), url('../fonts/PFDinDisplayPro-XThinIt.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-XThinIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-Thin';
    src: url('fonts/PFDinDisplayPro-Thin.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-Thin.woff') format('woff'), url('../fonts/PFDinDisplayPro-Thin.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-ThinItal';
    src: url('../fonts/PFDinDisplayPro-ThinItal.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-ThinItal.woff') format('woff'), url('../fonts/PFDinDisplayPro-ThinItal.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-ThinItal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinDisplayPro-Black';
    src: url('../fonts/PFDinDisplayPro-Black.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-Black.woff') format('woff'), url('../fonts/PFDinDisplayPro-Black.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.profileLink,
.newsDiv .header,
.newsDiv .content {
    font-family: 'PFDinDisplayPro-XThin';
}
.langDiv,
.presentText,
.newsDiv .toolbar {
    font-family: 'PFDinDisplayPro-XThinIt';
}
.uslHeader,
.menuButtons .item > span,
.uslCollapsible a.ui-collapsible-heading-toggle,
.leftMenu,
.pageHeader,
.contactsCont .contForm label,
.contactsCont .contForm input,
.contactsCont .contForm textarea,
.contactsCont .contInfo,
.waitInfo,
.searchInput,
.infoDiv,
.top ul.adviceBox li.advice p,
.ui-datepicker *,
.newsTab,
.newMiniMoreButton,
#leftMenu * {
    font-family: 'PFDinDisplayPro-Thin';
}
.mainImage .container > div .uslList,
.uslCollapsible .ui-collapsible-content {
    font-family: 'PFDinDisplayPro-ThinItal';
}
.linkPanel > p.header {
    font-family: 'PFDinDisplayPro-Black';
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.top2 .logo {
    height: 65px;
}
body {
    background: none;
    background-image: url('../img/backgrounds/office.png');
}
.profileLink img {
    height: 18px;
}
.profileLink {
    display: block;
    padding-top: 2px;
    color: #939293;
    font-size: 16px;
    font-weight: bold;
}

.langDiv {
    margin-left: 50px;
    margin-top: 6px;
    text-align: right;
}
.langDiv a {
    color: white;
    font-size: 16px;
}
.overflowHidden {
    overflow: hidden;
}
.searchInput {
    padding-right: 27px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    line-height: 1 !important;
    min-height: 1em !important;
    font-size: 16px !important;
    background-image: url('../img/images/Search icon.png');
    background-repeat: no-repeat !important;
    background-position: right center;
    background-size: 21px 15px;
    background-color: #ebebeb;
    border: none !important;
    color: black;
    /*filter: Alpha(Opacity=0);*/
    opacity: 0.5;
    width: 256px !important;
}
.mainSearch .searchInput {
    width: 100% !important;
}
.searchInput:active,
.searchInput:focus {
    opacity: 1;
}
.mainImage {
    margin: 10px auto;
    position: relative;
    padding: 0px;
}
.mainImage .container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 300;
}
.homeImage .container {
    height: 300px;
}
.mainImage > img {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
}
.homeImage {
    height: 300px;
}
.homeImage >img {
    width: auto;
    height: 100%;
}

.maxVol {
    width: 100%;
    height: 100%;
}
.mainImage > div.whiteCont {
    background-color: white;
    /*filter: Alpha(Opacity=0);*/
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}
.homeImage > div.whiteCont {
    height: 300px;
}
.mainImage > div.whiteCont.ui-block-b {
    left: 50%;
}
.customMargin {
    margin: 0% 2% 10px 2%;
}
.customPadding {
    padding: 10px 2% 10px 2%;
    margin: 0px auto;
}
.newsDiv {
    overflow: hidden;
}
.newsDiv .header {
    height: 30px;
    margin: 0px;
    padding: 10px 0px 10px 50px;
    background-image: url("../img/images/News-icon.png");
    background-repeat: no-repeat;
    background-position: left top;
    border-bottom: 1px solid #dddddd;
    color: #dddddd;
    font-weight: bold;
    font-size: 18px
}
.newsDiv .toolbar {
    text-align: right;
}

.newsDiv .content .item {
    margin: 10px 0px 15px 0px;
}
.newsDiv .content .item p {
    margin: 0px 30px 0px 0px;
    font-size: 15px;
}
.newsDiv .content .item p.text {
    color: white;
}
.newsDiv .content .item p.date {
    color: #747474;
    font-weight: bold;
}
.mainImage .container > div {
    position: relative;
}

.mainImage .container > div .uslList {
    max-height: 230px;
    margin: 20px 0px;
    line-height: 1;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    list-style: none;
    /*filter: Alpha(Opacity=0);*/
    opacity: 0;
}
.mainImage .container > div .uslList a {
    color: #3c3b3b;
}
.mainImage .container > div.active .uslList {
    /*filter: Alpha(Opacity=100);*/
    opacity: 1;
}
.mainImage .container > div .uslHeader {
    position: absolute;
    left: 30px;
    bottom: 10px;
    font-size: 36px;
    color: white;
}
.mainImage .container > div.active .uslHeader {
    color: #840633;
}
.qedButton {
    float: left;
    display: block;
    position: relative;
    background-color: #dfdfdf;
    text-align: center;
}
.qedButton > span {
    font-weight: bold;
    line-height: 1;
    color: #1e1e1e;
}
.qedButton:active {
    background-color: #aaaaaa;
}
.qedButton > .redActive {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.menuButtons {
    position: relative;
    overflow: hidden;
}
.menuButtons .item {
    width: 22%;
    height: 30px;
    margin-left: 4%;
    padding-top: 11px;
}
.menuButtons .item > span {
    font-size: 18px;
}
.menuButtons .item:first-child {
    margin-left: 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.presentText {
    margin: 0px auto;
    color: #858585;
}
.presentText p.header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.presentText p.text {
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    margin: 0px auto;
}
.presentText p.author {
    text-align: right;
    font-weight: bold;
    margin: 0px auto;
}
.addMenu, .linkPanel {
    background-image: url('../img/backgrounds/subtle_zebra_3d.png');
    overflow: hidden;
}
.linkPanel > p.header {
    margin: 10px auto;
    text-align: center;
    color: #50544b;
    font-size: 18px;
}
.linkPanel .container {
    margin: 0px auto 10px auto;
    width: 70%;
}
.linkPanel .container .item {
    width: 20%;
    text-align: center;
    float: left;
    overflow: hidden;
}
.addMenuIcon {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.addMenuIcon.iconBag {
    background-image: url("../img/images/Suit-case.png");
}
.addMenuIcon.iconDialog {
    background-image: url("../img/images/Dialog-cloud.png");
}
.addMenuIcon.iconUmbrella {
    background-image: url("../img/images/Umbrella.png");
}
.addMenuIcon.iconChart {
    background-image: url("../img/images/Pie-chart.png");
}
.addMenuIcon.iconBooks {
    background-image: url("../img/images/Books.png");
}
.addMenuIcon.iconColumns {
    background-image: url("../img/images/Column-building.png");
}
/*.addMenuIcon.iconBag {*/
/*background-image: url("../img/images/Warranty.png");*/
/*}*/
/*.addMenuIcon.iconBag {*/
/*background-image: url("../img/images/Warranty.png");*/
/*}*/

.addMenuText {
    text-align: center;
    color: #939293;
}
.footerDiv {

}
.footerDiv ul.footerMenu {
    float: left;
    list-style: none;
    font-size: 13px;
    /*font-weight: bold;*/
    padding: 0px;
    margin-right: 20px;
}
.footerDiv ul.footerMenu a {
    color: #939293;
}

.footerDiv .info {
    overflow: hidden;
}
.socLinks {
    text-align: right;
    overflow: hidden;
}
.socLinks > a.facebook {
    background-image: url('../img/images/Facebook-icon.png');
}
.socLinks > a.twitter {
    background-image: url('../img/images/Twitter-icon.png');
}
.socLinks > a.linkedin {
    background-image: url('../img/images/LinkedIn-icon.png');
}


.socLinks > a {
    position: relative;
    display: block;
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}
.footerDiv .level1, .footerDiv .level2 {
    overflow: hidden;
}
.footerDiv .level2 {
    color: #dddddd;
    text-align: center
}
.footerDiv .info p {
    text-align: right;
    margin: 0px;
    color: #840633;
}

#leftMenu {
    background-color: #cccccc;
}
#leftMenu .header {
    color: #840633;
    font-size: 24px;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
}
#leftMenu .list {
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#leftMenu .list a {
    display: block;
    padding-right: 30px;
    background-image: url('../img/images/arr-grey.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-top: 1px solid #939293;
}
#leftMenu .list .item {
    margin: 0px 0px 0px 8px;
    padding: 10px 0px 10px 42px;
    color: #767676;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    background-position: left center;
    background-repeat: no-repeat;
}

#leftMenu .item-beuro {
    background-image: url("../img/images/o-buro.png");
    background-size: 31px 21px;
}
#leftMenu .item-team {
    background-image: url("../img/images/o-komande.png");
    background-size: 32px 21px;
}
#leftMenu .item-events {
    background-image: url("../img/images/Meropriyatiya.png");
    background-size: 21px 21px;
    /*margin-left: 13px !important;*/
}
#leftMenu .item-reviews {
    background-image: url("../img/images/Otzivi.png");
    background-size: 21px 21px;
    /*margin-left: 13px !important;*/
}
.menuLink {
    float: left;
    display: block;
    margin: 6px 1px;
    padding: 4px;
}
.menuLink div {
    width: 40px;
    height: 30px;
    background-image: url('../img/images/Menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
}
.uslCollapsible,
.uslCollapsible a.ui-collapsible-heading-toggle {
    text-align: center;
    font-size: 26px;
    color: #840633;
}
.uslCollapsible .ui-collapsible {
    margin-top: 3px;
}
.uslCollapsible a.ui-collapsible-heading-toggle {
    border: none;
    background-color: #f6f6f6;
}
.uslCollapsible .ui-collapsible-collapsed a.ui-collapsible-heading-toggle {
    color: black;
}
.uslCollapsible .ui-collapsible-content {
   /*background: none;*/
}
.uslCollapsible .ui-collapsible-content p {
    margin: 5px auto;
    font-size: 18px;
}
.uslCollapsible .ui-collapsible-content p a {
    color: white;
}

.pageHeader {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 3px;
}
.contactsCont .contForm label {
    color: white;
    margin-bottom: 1px;
    font-size: 18px;
}
.contactsCont .contForm input,
.contactsCont .contForm textarea {
    color: #000000;
    background-color: #ebebeb;
    margin-bottom: 5px;
    font-size: 16px;
    min-height: 1.2em;
    line-height: 1.1;
}
.contForm .submitButton {
    width: 25%;
    height: 26px;
    padding-top: 6px;
    float: right;
    min-width: 120px;
    margin-top: 10px;
}
.contForm textarea {
    min-height: 100px;
}
.contForm .submitButton > span {
    font-size: 14px;
}
.contactsCont .contInfo {
    padding-top: 18px;
}
.contactsCont .contInfo p {
    margin: 0px 0px 15px 0px;
    color: #bbbbbb;
    line-height: 1.1;
    text-align: justify;
    font-size: 18px;
}
.contactsCont .contInfo span.mark {
    color: #ffffff;
    font-weight: bold;
}
#contMap {
    height: 400px;
}
.loader {
    background-image: url('../img/images/loading.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.waitInfo {
    max-width: 1300px;
    margin: 50px auto;
    color: #cccccc;
    overflow: hidden;
    border-top: 1px solid #840633;
    border-bottom: 1px solid #840633;
}
.waitInfo .level1 {
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15%;
}
.waitInfo .level2 {
    font-size: 26px;
    padding-left: 12%;
    margin-bottom: 60px;
    text-align: justify;
    margin-left: 13%;
    margin-right: 28%;
}
.waitInfo .level3 {
    padding-left: 12%;
    margin-left: 13%;
    font-size: 20px;
    float: left;
    margin-bottom: 50px;
}
.waitInfo .level4 {
    float: right;
    background-image: url("../img/images/sign.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28%;
    height: 120px;
}
.bold {
    font-weight: bold;
}
.infoDiv {
    overflow: hidden;
    color: white;
    font-size: 18px;
}
.infoDiv p {
    text-align: justify;
    margin: 0px 0px 10px 0px;
}
.maxWidthOut {

}
.teamDiv {
    overflow: hidden;
}
.teamCollapsible,
.arrCollapsible a.ui-collapsible-heading-toggle {
    /*text-align: center;*/
    font-size: 22px;
    color: #ffffff;
}
.arrCollapsible .ui-collapsible {
    margin-top: 10px;
}
.arrCollapsible a.ui-collapsible-heading-toggle {
    border: none;
    border-bottom: 1px solid white;
    padding: 3px 0px;
    background-image: url("../img/images/arrTop.png");
    background-repeat: no-repeat;
    background-size: 30px 15px;
    background-position: right center;
}
.arrCollapsible .ui-collapsible-collapsed a.ui-collapsible-heading-toggle {
    background-image: url("../img/images/arrBottom.png");
}

.arrCollapsible .ui-collapsible-content {
    padding: 0px;
}
.teamDiv .arrCollapsible .ui-collapsible-content p {
    margin: 5px auto;
    font-size: 18px;
}
.teamDiv .arrCollapsible .ui-collapsible-content p a {
    color: white;
}

.teamDiv .arrCollapsible .ui-collapsible-content .infoDiv {
    margin: 5px 0px;
}
.teamBlock {
    overflow: hidden;
}
.teamBlock .photo {
    float: left;
    width: 45%;
}
.teamBlock .photo img {
    width: 100%;
    /*height: 200px;*/
}
.teamBlock .infoText {
    padding-left: 10%;
    overflow: hidden;
    min-width: 100px
}
.teamBlock .infoText p.detLink a {
    font-weight: bold;
}
.mainSearch .searchInput {
    font-size: 19px !important;
}
.loading {
    background-image: url("../img/images/loading.gif");
    background-repeat: no-repeat;
}
.searchBox {
    /*position: relative;*/
}
.top ul.adviceBox {
    background-color: #ebebeb;
    position: absolute;
    z-index: 10000;
    margin: 0px;
    right: 4%;
    top: 60px;
    min-width: 256px;
    padding: 0px;
}
.top ul.adviceBox li.advice {
    margin: 0px;
    list-style: none;
    border: 1px solid #bbbbbb;
    border-top: none;
    text-align: right;
    cursor: pointer;
    padding: 5px;
}
.top ul.adviceBox li.advice p {
    margin: 0px;
}
.top ul.adviceBox li.advice p.header {
    color: #000000;
    font-weight: bold;
    font-size: 19px;
}
.top ul.adviceBox li.advice p.description {
    color: #666666;
    font-size: 14px;
}
.top ul.adviceBox li.advice:first-child {
    border-top: 1px solid #bbbbbb;
}
.top ul.adviceBox li.active {
    background-color: #cccccc;
}
.blockHeader {
    border: none;
    border-bottom: 1px solid white;
}
.newsTab {
    display: block;
    font-size: 16px;
    width: 100%;
    height: 20px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    background-color: #333333;
    margin-top: 20px;
}
.newsTab.active {
    background-color: #840633;
}
.newsTab:active {
    padding-top: 9px;
    height: 21px;
}
.newsItem {
    margin-top: 10px;
}
.newsItem p {
    margin: 0px;
}
.newsItem p.text {
    color: white;
}
.newsItem p.date {
    color: #747474;
}


.newsItem .infoContainer-b {
    text-align: justify;
}
/*.newsItem:hover {*/
    /*background-color: #444444;*/
/*}*/
.newsMiniPhoto img {
    max-width: 100%;
}
.newMiniMoreButton {
    float: right;
    color: #cccccc;
    font-size: 14px;
    cursor: pointer;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker * {
    color: #ffffff !important;
}
.ui-datepicker {
    background-color: #b1b1b1 !important;
}
/*: The outer container of the datepicker. If the datepicker is inline, this element will additionally have a ui-datepicker-inline class. If the isRTL option is set, this element will additionally have a class of ui-datepicker-rtl.*/
.ui-datepicker-header {

}
/*: The container for the datepicker's header.*/
.ui-datepicker-prev {
    cursor: pointer !important;
}
/*: The control used to select previous months.*/
.ui-datepicker-next {
    cursor: pointer !important;
}
/*: The control used to select subsequent months.*/
.ui-datepicker-title {

}
/*: The container for the datepicker's title containing the month and year.*/
.ui-datepicker-month {
    background: none !important;
    border: none !important;
    width: 30% !important;
    margin-right: 3px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}
/*: The textual display of the month or a <select> element if the changeMonth option is set.*/
.ui-datepicker-year {
    background: none !important;
    border: none !important;
    width: 30% !important;
    margin-left: 3px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}
/*: The textual display of the year or a <select> element if the changeYear option is set.*/
.ui-datepicker-month option,
.ui-datepicker-year option {
    background-color: #aaaaaa !important;
}
.ui-datepicker-calendar {

}
/*: The table that contains the calendar itself.*/
.ui-datepicker-calendar tr th {
    font-size: 12px;
}

.ui-datepicker-calendar tr td a,
.ui-datepicker-calendar tr td span {
    text-align: center;
    font-size: 14px;
}
.ui-datepicker-calendar tr td.ui-datepicker-other-month span {
    color: #cccccc !important;
    color: #cccccc !important;
}

.ui-datepicker-calendar tr td {
    border-top: 1px solid #818181;
}
.ui-datepicker-calendar tr:first-child td {
    border-top: none;
}
.ui-datepicker-calendar tr td {
    border-left: 1px solid #818181;
}
.ui-datepicker-calendar tr td:first-child {
    border-left: none;
}
.ui-datepicker-week-end {

}
/*: Cells containing weekend days.*/
.ui-datepicker-other-month {

}
/*: Cells containing days that occur in a month other than the currently selected month.*/
.ui-datepicker-unselectable {

}
/*: Cells containing days that are not selectable by the user.*/
.ui-datepicker-current-day {

}
/*: The cell containing the selected day.*/
.ui-datepicker-today {

}
/*: The cell containing today's date.*/
.ui-datepicker-buttonpane {

}
/*: The buttonpane that is used when the showButtonPanel option is set.*/
.ui-datepicker-current {

}
/*: The button used to select today's date.*/

input, textarea {
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.15) /*{global-box-shadow-color}*/ inset;
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.15) /*{global-box-shadow-color}*/ inset;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.15) /*{global-box-shadow-color}*/ inset;
}