@media (min-width: 768px) {
    .onlyPhone {
        display: none !important;
    }
    .addMenu > div > .ui-grid-a {
        float: left;
        width: 50%;
    }
    .socLinks > a:active {
        top: 1px;
    }
    .socLinks > a:active {
        top: 1px;
    }
    .socLinks > a.facebook:hover {
        background-image: url('../img/images/FacebookHover.png');
    }
    .socLinks > a.twitter:hover {
        background-image: url('../img/images/TwitterHover.png');
    }
    .socLinks > a.linkedin:hover {
        background-image: url('../img/images/LinkedInHover.png');
    }

    .profileDiv {
        float: left;
    }
    .langDiv {
        float: right;
    }
    .langDiv a:hover {
        text-decoration: underline;
    }
    .presentText {
        width: 80%;
    }
    .presentText .text,
    .presentText .author {
        max-width: 75%;
    }
    .profileLink span:hover {
        text-decoration: underline;
    }
    .qedButton.active > span,
    .qedButton:hover > span {
        color: #840633;
    }
    .qedButton.active > .redActive,
    .qedButton:hover > .redActive {
        background-color: #840633;
    }
    .newsDiv .newsContainer,
    .infoDiv .infoContainer {
        overflow: hidden;
    }
    .infoDiv .infoContainer-a {
        float: left;
    }
    .infoDiv-a .infoContainer-b {
        float: right;
    }
    .infoDiv-b .infoContainer-c,
    .infoDiv-c .infoContainer-c,
    .infoDiv-d .infoContainer-c {
        float: right;
    }
    .infoDiv-a .infoContainer-a {
        width: 48%;
        padding-right: 2%;
    }
    .infoDiv-a .infoContainer-b {
        width: 48%;
        padding-left: 2%;
    }
    .infoDiv-b .infoContainer-b,
    .infoDiv-c .infoContainer-b,
    .infoDiv-b .infoContainer-b {
        padding-left: 4%;
        padding-right: 4%;
    }
    .infoDiv-b .infoContainer,
    .infoDiv-c .infoContainer,
    .infoDiv-d .infoContainer {
        width: 22%;
    }
    .infoDiv-b .infoContainer-a,
    .infoDiv-c .infoContainer-b,
    .infoDiv-d .infoContainer-c {
        width: 48%;
    }
    .infoDiv-e .infoContainer {
        width: 22%;
        padding-left: 4%;
        float: left;
    }
    .infoDiv-e .infoContainer-a {
        width: 22%;
        padding-left: 0%;
    }

    .newsDiv .newsContainer.left {
        padding-right: 2%;
        width: 48%;
    }
    .newsDiv .newsContainer.right {
        padding-left: 2%;
        width: 48%;
    }
    .top {
        padding: 10px 4% 10px 4%;
        position: fixed;
        width: 92%;
        background-image: url('../img/backgrounds/office.png');
        z-index: 100000;
    }
    .top1 {
        float: right;
    }
    .contactsCont .contForm,
    .contactsCont .contInfo {
        width: 48%;
        float: left;
    }
    .contactsCont .contForm {
        padding-right: 2%;
    }
    .contactsCont .contInfo {
        padding-left: 2%;
    }
    .teamBlock .infoText p.detLink {
        text-align: right;
    }
    .teamBlock .infoText p.detLink a {
        color: #840633;
    }
    .teamBlock .infoText p.detLink a:hover {
        text-decoration: underline;
    }
    .eventsDiv {
        width: 78%;
        float: left;
    }
    .eventInfoDiv {

    }
    .eventInfoDiv .headerDiv {
        width: 33%;
        float: left;
    }
    .eventInfoDiv .textDiv {
        width: 67%;
        float: right;
    }

    .newsItem {
        width: 78%;
        float: left;
    }
    .newsItem .infoContainer-a {
        width: 29%;
    }
    .newsItem .infoContainer-b {
        width: 62%;
        padding-left: 4%;
        padding-right: 5%;
    }
    .newMiniMoreButton {
        line-height: 1;
        border-bottom: 1px dotted;
    }
    .newMiniMoreButton:hover {
        color: #ffffff;
    }
    .mainImage {
        /*padding-top: 100px;*/
    }
    .mainImage .container > div .uslList a:hover {
        color: #840633;
    }
    a:hover .addMenuText {
        color: #840633;
    }
    .footerDiv ul.footerMenu a:hover {
        color: #840633;
    }
    #leftMenu .list a:hover {
        background-color: #eeeeee;
        background-image: url("../img/images/menuArr.png");

    }
    #leftMenu .list a:hover .item {
        color: #840633;
    }
    .uslCollapsible .ui-collapsible-content p a:hover {
        color: #840633;
    }
    .arrCollapsible a.ui-collapsible-heading-toggle:hover {
        color: #840633;
    }
    .teamDiv .arrCollapsible .ui-collapsible-content p a:hover {
        color: #840633;
    }
    .newsTab:hover {
        background-color: #840633;
    }
    .ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }
    .ui-datepicker .ui-datepicker-prev-hover {
        left: 1px;
    }
    .ui-datepicker .ui-datepicker-next-hover {
        right: 1px;
    }
    .ui-datepicker-calendar tr td:hover:not(.ui-datepicker-other-month) {
        background-color: #c2c2c2 !important;
    }
}
@media (min-width: 768px) and (max-width: 1450px) {
    .maxWidthIn {
        max-width: 1100px;
    }

}
@media (min-width: 1451px) {
    .maxWidthIn {
        max-width: 1400px;
    }

}

